ol {
	li {
		&:nth-child(1) {
			$stretcher-min: 400px;
			$stretcher-max: 1300px;

			font-size: 10px -> 25px;
		}
		&:nth-child(2) {
			$stretcher-min: 500px;
			$stretcher-max: 1200px;

			font-size: 10px -> 25px;
		}
		&:nth-child(3) {
			$stretcher-min: 600px;
			$stretcher-max: 1100px;

			font-size: 10px -> 25px;
		}
		&:nth-child(4) {
			$stretcher-min: 700px;
			$stretcher-max: 1000px;

			font-size: 10px -> 25px;
		}
		&:nth-child(5) {
			$stretcher-min: 800px;
			$stretcher-max: 900px;

			font-size: 10px -> 25px;
		}
	}
}